<ion-view view-title="About Wittr">
	<ion-content class="witter-blue-back">

		<div class="row">
			<div class="col text-center">
				<img src="img/icon.png"/>
			</div>
		</div>

		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">Why?</span> On Friday the 12th of February 2016, Simon read an email by Ian, an L.T.L. F.T.E. from Christchurch NZ asking if any app developers out there would be able to make a mobile app to connect nearby listeners. Granted, it was requested for Colonial Commoners, but I didn't want to exclude those currently residing within the British Empire. <b>Note:</b> This is nothing to do with the BBC, they wanted me to let you know that!
		</div>

		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">What exactly does it do?</span> Basically, if you've got this app installed and you've enabled it in the settings screen, it will run off pin you on a map of Wittertainees. The positions are all "fuzzed up" a bit, so you'll never be giving your exact location away, but it should be a fun way to see if others Wittertainees are in the local area. There's also a copy of the Code of Conduct, should you need to reference it (but we all know it off the top of our heads now... right?).
		</div>

		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">What WILL it do?</span> One part of the request was for the app to let out a little "Hello to Jason Isaacs" when someone else with the app was nearby. While not implemented yet, this will be possible... maybe... I dunno, it seems like something I should disable if in the proximity of a cinema....
		</div>

		<div class="row">
			<div class="col text-center">
				<img src="img/ct14.it.png" style="margin-top: 600px;"/>
			</div>
		</div>


	</ion-content>
</ion-view>
