<ion-view view-title="Code Of Conduct">
	<ion-content class="witter-blue-back">
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<button style="float: right;" class="button button-clear button-positive coc-pdf" ng-click="openPDF()"><span class="icon ion-document-text"></span> PDF</button>
			<span class="lead">PDF Version</span>If your fruit or robot based mobile device is able to open PDF files, you can click on the button there. If for whatever reason that does not work, you can also see a boring text version available below.
		</div>

		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Eating</span>
			...of anything harder than a soft roll with no
			filling. No one wants to hear you crunch,
			chew or masticate in any way. Nachos
			cause special offence and are of the devil.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No slurping</span>
			...of drinks. You've already drunk a 5 litre
			flagon of pop, you really don't need the
			melting ice too. You are not six years old.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Rustling</span>
			...of super high density, rustle-o-matic,
			extra rustle bags. No foraging of any kind, if
			you're going to need it during the film, get
			it out before hand.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Irresponsible Parenting</span>
			Your five-year-old does not want to come
			to see the latest 12A certificate: you are
			using the cinema as a babysitter. Your
			child's moaning, whinging and crying is
			your fault and a profound annoyance to
			everyone else. Your interrupted sleep
			caused by your child's nightmares is also
			your fault and serves you right.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Hobbies</span>
			This includes knitting, drug dealing, model
			aeroplane assembly, fighting, having sex
			and updating Facebook.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Talking</span>
			You’re in a cinema – you have come here
			to watch, not to discuss. Or ‘engage’, or
			‘participate’, or ‘explain’ or whatever. More
			importantly, no-one in the cinema has paid
			£8.50 to hear your director’s commentary
			on the movie. Just sit down and shut up.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Mobile Phone Usage</span>
			At all. Not even on ‘flight mode’. This isn’t
			an aeroplane, it’s a cinema. Even if you’re
			not yapping, you’re still creating light
			pollution. Put your thumbs away.<br/>
			NB: includes BlackBerries, Palm Pilots,
			iPads - whatever.<br/><br/>
			NBB: this also includes using your mobile device to use this app. If you are currently in the cinema and reading this you are violating the code of conduct!


		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Kicking of Seats</span>
			The area of floor directly in front of your
			seat is yours, and is there to put your legs
			in. The back of the seat in front of you
			belongs to someone else; do not touch,
			interfere with, or otherwise invade their
			space with your feet, knees, or other bodily
			appendages.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Arriving Late</span>
			Like Woody Allen in Annie Hall, you’re
			supposed to watch movies from the very
			beginning to the very end. If you turn up
			late, tough: go see something else -
			The Sorrow and the Pity, perhaps.
		</div>
		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<span class="lead">No Shoe Removal</span>
			You are not in your own front room. Nor
			are you in Japan (unless you are, in which
			case, carry on). A cinema is a public space:
			keep your bodily odours to yourself.
		</div>

	</ion-content>

</ion-view>
