<ion-view view-title="Demographics">
	<ion-content class="witter-blue-back">

		<div class="card list">

			<div class="item item-divider item-positive">
				So.. what are you?
			</div>

			<div class="item item-toggle">
				Pipe smoker
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-model="wittrService().demographics.pipeSmoker" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				LTL
				<label class="toggle toggle-calm">
					<input type="checkbox" ng-model="wittrService().demographics.ltl" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Clergy Corner
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="wittrService().demographics.clergyCorner" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Ceramists' Corner
				<label class="toggle toggle-energized">
					<input type="checkbox" ng-model="wittrService().demographics.ceramicistsCorner" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Norwegian Branch
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="wittrService().demographics.norwegianBranch" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Colonial Commoner
				<label class="toggle toggle-royal">
					<input type="checkbox" ng-model="wittrService().demographics.colonialCommoner" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Cravateer
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="wittrService().demographics.cravateer" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				D.I.A.F.L.S.
				<label class="toggle toggle-positive">
					<input type="checkbox" ng-model="wittrService().demographics.diafls" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				A.A.L.S
				<label class="toggle toggle-calm">
					<input type="checkbox" ng-model="wittrService().demographics.aals" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				P.I.L.S
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-model="wittrService().demographics.pils" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				H.I.L.S
				<label class="toggle toggle-energized">
					<input type="checkbox" ng-model="wittrService().demographics.hils" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				N.C.G.
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="wittrService().demographics.ncg" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				I'm Jason Isaacs
				<label class="toggle toggle-royal">
					<input type="checkbox" ng-model="wittrService().demographics.iji" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				No I'M Jason Isaacs!
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="wittrService().demographics.niji" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<div class="item item-toggle">
				Battenberg
				<label class="toggle toggle-battenberg">
					<input type="checkbox" ng-model="wittrService().demographics.battenberg" ng-change="wittrService().updateDemographics()">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

		</div>

	</ion-content>
</ion-view>
