<ion-view view-title="Privacy">
	<ion-content class="witter-blue-back">

		<div class="card item item-text-wrap witter-blue-block coc-rule">
			<p>No personally identifiable information is recorded or transmitted at any time by this app.</p>
			<p>If enabled in settings, the app will submit your current position in lat/lng format every X minutes, where X is the interval time also specified in the settings menu (by default this is every hour).</p>
			<p>Before submitting these coordinates, they are randomised slightly to give an approximate location.</p>
			<p>This is in place so the app is never EXACTLY sure of where you are (just for a little peace of mind!).</p>
			<p>This app uses <b>OneSignal</b> to identify each separate device. This is required to keep the map markers updated nicely! Again this ID contains no personally identifiable information, an example ID is below</p>
			<p>APA21fFft4hrde8649kAHUe67cgSSnmKBUUfa04eaMzgXkbBm94hbvn4LlltGrMJrHvCf-ptQObG5l8JWI-H9SqyAfZsrNYHUnWJPb1k2rDEfjfjfjfjfkY</p>
			<p>Messy right?</p>
			<p>If you're done with the app, just uninstall it and no more position updates will be sent.</p>
			<p>Thanks<br/><i>Chris</i></p>

		</div>

	</ion-content>
</ion-view>
